.instructions{
    text-align:center;
}
.heading{
    font-size:22px;
    font-weight:bold;
    text-align:center;
    padding-bottom:10px;
    font-family:roboto;
}
.instructionsButton{
    padding-top:20px;
    text-align:center;
}