.Login {
    font-size:20px;
    font-weight:bold;
    text-align:center;
}
/* Style reference for video as background: https://www.youtube.com/watch?v=05ZHUuQVvJM */
.videoContainer{
    position: relative;
    width:100%;
    filter:opacity(40%);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.loginContent{
    position:absolute;
    right:35%;
    width:30%;
    top:45%;
    text-align:center;
    border-radius: 100px;
    padding: 5em 10em 4em 0em;
    background-color: #e8c97b;
    filter: opacity(0.8);
}
.loginDetails{
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    color: #2460a9;
    text-align: right;
}
.quizroom{
    padding-left: 8em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 22px;
    font-family: Roboto;
    font-style: italic;
    color: #2460a9;
}
.userNameField{
    float: left;
}
.passwordField{
    text-align:left;

}
.warning{
    font-style:italic;
    color:#ed4747;
    font-size:14px;
    font-family: Roboto;
}
.forgot{
    padding-bottom:4px;
    font-weight:bold;
    cursor:pointer;
    font-family: Roboto;
    font-size:14px;
    padding-left:2px;
}
.loginButton{
    text-align:left;
    padding-left:5em;
    padding-top:0.6em;
}
.popupName{
    font-size:22px;
    text-align:left;
    font-weight:bold;
    font-family:Roboto;
    padding-left:20px;
    padding-top:10px;
}
.popupUsernameEnter{
    font-family: Roboto;
    font-size:16px;
    padding-top:10px;
}
.popupTextField{
    margin-left:20px;
    margin-top:10px;
}